
/* Define custom properties in :root */
:root {
    --primary-color: #10515f;
    --secondary-color: #f29837;
    --text-color: #ff9900;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    font-family: "JF-Flat-Regular";
}

a {
    text-decoration: none
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline-block;
}

a,
a:focus,
a:hover,
input,
textarea {
    outline: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    border: 1px solid #568088;
    background: #568088;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    height: 40px;
    font-family: "AraHamahZanki";
    color: var(--primary-color);
}

input::-webkit-input-placeholder {
    color: #42636b;

}

input::-moz-placeholder {
    color: #42636b;

}

input:-ms-input-placeholder {
    color: #42636b;

}

input::-ms-input-placeholder {
    color: #42636b;

}

input::placeholder {
    color: #42636b;

}

button {
    overflow: visible;
    border: none;
    cursor: pointer;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0
}

.btn {
    font-size: 21px;
    padding: 13px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "HelveticaNeue-bold";
    color: #393C41;
    background: #FFFFFF;

}

.btn-green {
    background: var(--secondary-color) !important;
    color: #FFFFFF !important;
}



.grid-2col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-item-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/* Include Fonts */
@font-face {
    font-family: "JF-Flat-Regular";
    src: url(../fonts/JF-Flat-Regular.ttf)
}

@font-face {
    font-family: "AraHamahZanki";
    src: url(../fonts/Ara\ Hamah\ Zanki\ Regular.otf)
}

@font-face {
    font-family: "MyriadArabic";
    src: url(../fonts/MyriadArabic-Regular.otf)
}

@font-face {
    font-family: "ComiSansMS-bold";
    src: url(../fonts/ComiSansMS-bold.ttf)
}

@font-face {
    font-family: "ComiSansMS-regular";
    src: url(../fonts/ComiSansMS-regular.ttf)
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/* Navbar Css With En*/
.navbar {
    padding: 15px 0 0;
    background-color: var(--primary-color);
}

.navbar nav {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 5% 7% 88%;
    grid-template-columns: 5% 88%;
    grid-gap: 7%;
}


.navbar nav .menu li {
    margin: 0 10px;
}

.navbar nav .menu li a {
    color: #FFFFFF;
    font-size: 18px;
    font-family: "JF-Flat-Regular";
}

.circle-link a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.circle-link a i {
    color: var(--primary-color);
}

.dashboard-li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 5px;
}

.navbar nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar nav .menu li .btn {
    background: #568088;
    border: 1px solid #568088;
    font-size: 18px;
    color: var(--text-color);
    padding: 7px 30px;
    width: 150px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
}

/* Mobile Menu Icon CSS */
.mobile-menu-icon {
    display: none;
    /* Initially hidden on larger screens */
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border: none;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.mobile-menu-icon span {
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

/* Style for "X" icon */
.mobile-menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    -moz-transform: rotate(45deg) translate(10px, 10px);
    -ms-transform: rotate(45deg) translate(10px, 10px);
    -o-transform: rotate(45deg) translate(10px, 10px);
}

.mobile-menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.mobile-menu-icon.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
}

.search-box {
    position: relative;
    margin-right: 20px;
}

.search-box img {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 25px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-box input {
    padding-left: 45px;

}

.navbar nav .menu li a img {
    width: 8px;
}

/* Style the submenu */
ul.submenu {
    display: none;
    position: absolute;
    background-color: #568088;
    padding: 10px 20px;
    border-radius: 15px;
    top: 40px;
    z-index: 8;
}

ul.submenu li {
    display: block;
    padding: 5px 0;
    margin: 0 !important;
}

ul.menu li:hover ul.submenu {
    display: block;
}

ul.submenu li a {
    color: white;
}

.navbar .line-en {
    position: relative;
    width: 100%;
    padding: 0 30px 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.navbar .line-en>img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tel-li img {
    width: 40px !important;
}




/* Media query for mobile screens */


/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/


/*Header Css By En*/
.header {
    background: var(--primary-color);
    padding-top: 50px;

}

.header .image {
    margin-bottom: -4px;
    position: relative;
}

.header .image img {
    width: 100%;
}

.header .content {
    text-align: center;
    background-image: url(../images/background-hero.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 40px;
}

.header .content .title {
    font-size: 50px;
    color: #fff;
    font-weight: lighter;
    line-height: 70px;
    font-family: "ComiSansMS-bold";

}

.header .content .title1 {
    font-family: "ComiSansMS-regular";
    font-size: 50px;

}

.header .content .title span {
    display: block;
    font-size: 60px;
    color: var(--text-color);

}

.header .content p {
    color: #fff;
    font-size: 24px;
    margin: 30px 0;
    font-family: "ComiSansMS-regular";

}

.header .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 0 0 0 100px;

}

.header .content .btn {
    color: #fff;
    font-size: 20px;
    background: var(--secondary-color);
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    height: 35px;
    font-family: "AraHamahZanki";

}

.social-media {
    position: fixed;
    left: 30px;
    bottom: 0;
    z-index: 99;
}

.social-media ul li {
    display: block;
    margin-bottom: 5px;
}

.social-media ul li:last-child {
    margin: 0;
}



/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/*Why Buruj Css By En*/

.why-buruj {
    padding: 50px 0;
    position: relative;
}

.why-buruj .title {
    position: relative;
    font-size: 72px;
    font-weight: normal;
    text-align: center;
    color: var(--primary-color);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
}

.why-buruj .title span {
    color: var(--text-color);
}

.background-buruj {
    background-image: url(../images/logo-11.png);
    background-size: contain;
    background-position: center top;
}

.why-buruj .title::before {
    content: "";
    background-image: url(../images/after-title-left.png);
    position: absolute;
    left: -90px;
    width: 100px;
    background-size: 100px;
    height: 120px;
    background-repeat: no-repeat;
    top: 10px;
}

.why-buruj .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    grid-gap: 30px;
    max-width: 1070px;
    margin: 100px auto 0;

}

.why-buruj .box {
    width: 55%;
    height: 134px;
    background: var(--secondary-color);
    border-radius: 0;
    margin: 0 136px 0 135px;
    position: relative;
    padding: 25px 0 25px 130px;
    margin-right: auto;

}




.why-buruj .box::before {
    /* */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -70px;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
    width: 140px;
}

.why-buruj .box::after {
    content: "";
    background-image: url(../images/after-box.png);
    right: -122px;
    width: 130px;
    background-size: 130.5px;
    height: 134px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;

}

.why-buruj .box ul li {
    font-size: 20px;
    color: var(--primary-color) !important;
    margin-left: 0;

    font-family: "AraHamahZanki";
    font-weight: 500;
    line-height: 1.4;
    display: block;
}

.why-buruj .box p {
    font-size: 20px;
    color: var(--primary-color) !important;
    margin-left: 0;
    padding-bottom: 40px;
    margin-top: -12px;
    font-family: "AraHamahZanki";
    font-weight: 500;
    line-height: 1.4;

}

.why-buruj .box:nth-child(2) ul li,
.why-buruj .box:nth-child(4) ul li,
.why-buruj .box:nth-child(2) p,
.why-buruj .box:nth-child(4) p {
    color: #fff !important;

}

.blue-list {
    position: relative;
    z-index: 9;
    left: -80px;
    margin-top: -15px;

}

.blue-list li:nth-child(2) {
    margin-left: 20px !important;
}

.blue-list li:nth-child(3) {
    margin-left: 40px !important;
}

.blue-list li:nth-child(4) {
    margin-left: 60px !important;
}

.why-buruj .box:nth-child(2) {
    background: var(--primary-color);
    margin-left: auto;
    margin-right: 135px;
    padding: 25px 130px 25px 0;

}



.why-buruj .box:nth-child(2)::after {
    background-image: url(../images/after-box2.png);
    right: unset;
    left: -120px;


}

.why-buruj .box:nth-child(2)::before {
    left: unset;
    right: -70px;
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
}

.why-buruj .box:nth-child(4) {
    background: var(--primary-color);
    margin-left: auto;
    margin-right: 135px;
    padding: 25px 130px 25px 0;

}



.why-buruj .box:nth-child(4)::after {
    background-image: url(../images/after-box2.png);
    right: unset;
    left: -120px;
    width: 120px;

}

.why-buruj .box:nth-child(4)::before {
    left: unset;
    right: -70px;
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
}


.btn-joinus {
    color: #fff;
    font-size: 24px;
    background: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 180px;
    margin: 0 auto;
    height: 35px;
    padding: 5px 20px;
    font-family: "AraHamahZanki";
}

.btn-joinus span {
    margin-top: 5px;
}


.img-rhombus {
    overflow: hidden;

    display: inline-block;
    margin: 2%;
    padding: 0;
    border-radius: 10px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotateX(45deg);
    -o-transform: rotateX(45deg);
    background-color: #fcecca;
    border: 15px solid var(--secondary-color);
    width: 210px;
    height: 210px;
    position: absolute;
    top: -115.5px;
    left: -120px;

    border-radius: 25px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.why-buruj .box:nth-child(2) .img-rhombus {
    border: 15px solid var(--primary-color);
    right: -120px;
    left: unset;

}

.why-buruj .box:nth-child(4) .img-rhombus {
    border: 15px solid var(--primary-color);
    right: -120px;
    left: unset;

}

.img-rhombus .inner-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 130%;
    height: 130%;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}




.img-rhombus .inner-wrapper img {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotateX(-45deg);
    -o-transform: rotateX(-45deg);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/*our courses Css By En*/
.our-courses {
    padding-top: 100px;
    position: relative;

}

.our-courses img {
    width: 100%;
}

.our-courses .title {
    font-size: 72px;
    font-weight: normal;
    text-align: center;
    color: var(--primary-color);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    margin-bottom: 80px;
}

.our-courses .all-cources {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    color: var(--primary-color);
    margin: auto;
    margin-bottom: 80px;
}

.our-courses .cards-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    grid-gap: 50px 130px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
}

.our-courses .cards-group:last-child {
    margin-bottom: 0;
}

.our-courses .cards-group .card {
    text-align: center;
    max-width: 300px;
}

.card .img-rhombus {
    position: unset;
    border: 5px solid var(--secondary-color);
    background: #f9f2e5;

}

.img-rhombus .course {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    color: var(--primary-color);
    font-size: 42px;
    width: 100%;
    text-align: center;
    font-family: "AraHamahZanki";
    font-weight: 500;

}


@media (max-width: 768px) {
    .card .img-rhombus .course {
        font-size: 4vw;
    }
}



.cards-group .card .body {
    padding: 50px 20px 20px;
}

.cards-group .card .body h4 {
    font-family: "AraHamahZanki";
    color: var(--text-color);
    font-size: 22px;
    margin-bottom: 20px;

}

.cards-group .card .body p {
    color: #165563;
    font-family: "AraHamahZanki";
    font-size: 18px;
    text-align: start;
}

.our-courses .btn-free {
    background: var(--secondary-color);
    width: 220px;
    margin-bottom: 30px;
}


.sec5 {
    padding: 50px 0 100px;
    position: relative;
}

.sec5 .title-box {
    background: -o-linear-gradient(top, #fff, #f29837);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f29837));
    background: linear-gradient(to bottom, #fff, #f29837);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    padding: 4px 50px;
    border-radius: 43px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    -ms-border-radius: 43px;
    -o-border-radius: 43px;
    margin: 20px auto 80px;
}

.sec5 .title-box h1 {
    font-size: 48px;
    color: #10515f;
    font-weight: lighter;
}


.boxes-numb {
    grid-gap: 40px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 21% 20px 24% 20px 24% 20px 25%;
    grid-template-columns: 21% 24% 24% 25%;
}

.boxes-numb .box-en {
    height: 250px;
    background-size: cover;
    position: relative;
    width: calc(100%/4);

}

.sec5 .boxes-numb>img {
    width: 100%;
}

.boxes-numb .box-en img {
    position: absolute;
    width: 100%;
    height: 100%;

}

.boxes-numb .box-en h4 {
    padding: 2px 20px;
    background: var(--primary-color);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
    position: absolute;
    right: -10px;
    top: 40%;
    font-size: 22px;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    right: 45px;
    top: 15%;
}

.boxes-numb .box-en p {
    text-align: center;
    padding: 90px 55px 0 60px;
    color: #30818C;
    font-size: 22px;
    margin-left: 20px;
    font-weight: 600;
}

.boxes-numb .box-en:nth-child(2) h4 {
    right: -20px;
}

.boxes-numb .box-en:nth-child(2) p {
    padding: 110px 35px 0 90px;
}

.boxes-numb .box-en:nth-child(3) h4 {
    right: 20px;
}

.boxes-numb .box-en:nth-child(3) p {
    padding: 110px 25px 0 85px;
}

.boxes-numb .box-en:nth-child(4) h4 {
    right: 20px;
}

.boxes-numb .box-en:nth-child(4) p {
    padding: 110px 25px 0 85px;
}

.boxes-numb .box-en h4.yellow {
    background: var(--secondary-color);
}

.boxes-numb .box-en .shadow-bottom {
    position: absolute;
    top: unset;
    bottom: -100px;
    height: unset;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 10%);
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/


.exp {
    padding: 40px 0;
    position: relative;
}

.exp .boxes-exp {
    grid-gap: 50px;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.exp .boxes-exp .title {
    text-align: center;
    color: var(--text-color);
    font-size: 48px;
    font-family: "AraHamahZanki";
    margin-top: 30px;
}

.exp .boxes-exp .title span {
    display: block;
}

.limitSec {
    padding: 30px 0 180px;
    position: relative;

}

.limitSec .overlay {
    background: url(../images/background-limitSec.png);
    background-size: cover;
    background-position: center;
    z-index: -1;

}

.limitSec .title-lim {
    color: #0c505e;
    font-size: 32px;
    font-family: "MyriadArabic";
    text-align: center;

}

.background-parallelogram .instead::after {
    content: "instead";
    /* Your desired content here */
    position: absolute;
    top: -93px;
    right: 87px;
    margin: 70px -80px 0 30px;
    color: #10515f;
    font-size: 14px;
}

.background-parallelogram .discount76::after {
    content: "76";
    /* Your desired content here */
    position: absolute;
    top: -98px;
    right: 55px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 26px;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;
    text-decoration-thickness: 1px;
}

.background-parallelogram .discount95::after {
    content: "95";
    /* Your desired content here */
    position: absolute;
    top: -98px;
    right: 55px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 26px;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;
    text-decoration-thickness: 1px;
}

.background-parallelogram .instead2::after {
    content: "instead";
    /* Your desired content here */
    position: absolute;
    top: -99px;
    right: 98px;
    margin: 70px -80px 0 30px;
    color: #10515f;
    font-size: 14px;
}

.background-parallelogram .discount85::after {
    content: "85";
    /* Your desired content here */
    position: absolute;
    top: -105px;
    right: 65px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 26px;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;
    text-decoration-thickness: 1px;
}

.background-parallelogram .half::after {
    content: ".5";
    /* Your desired content here */
    position: absolute;
    top: -97px;
    right: 54px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 17px;
}


.background-parallelogram .discont114::after {
    content: "114";
    /* Your desired content here */
    position: absolute;
    top: -105px;
    right: 55px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 26px;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;
    text-decoration-thickness: 1px;
}



.background-parallelogram .instead4::after {
    content: "instead";
    /* Your desired content here */
    position: absolute;
    top: -99px;
    right: 105px;
    margin: 70px -80px 0 30px;
    color: #10515f;
    font-size: 14px;
}

.background-parallelogram .half2::after {
    content: ".5";
    /* Your desired content here */
    position: absolute;
    top: -96.5px;
    right: 48px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 17px;
}

.background-parallelogram .discount142::after {
    content: "142";
    /* Your desired content here */
    position: absolute;
    top: -105px;
    right: 60px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 26px;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;
    text-decoration-thickness: 1px;
}


.background-parallelogram .discount108::after {
    content: "114";
    /* Your desired content here */
    position: absolute;
    top: -105px;
    right: 55px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 26px;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;
    text-decoration-thickness: 1px;
}

.background-parallelogram .discount152::after {
    content: "152";
    /* Your desired content here */
    position: absolute;
    top: -105px;
    right: 55px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 26px;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;
    text-decoration-thickness: 1px;
}


.background-parallelogram .discount190::after {
    content: "190";
    /* Your desired content here */
    position: absolute;
    top: -105px;
    right: 55px;
    margin: 70px -80px 0 30px;
    color: #0c505e;
    font-size: 26px;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;
    text-decoration-thickness: 1px;
}

.cards-parallelogram,
.background-parallelogram,
.basic::before {
    position: relative;

}

.basic::before {
    content: "Basic";
    position: absolute;
    top: 40;
    padding-bottom: -60px;
    right: 20;
    width: 40%;
    height: 70%;
    z-index: -1;
    margin: -30px 10px;
    font-size: 25px;
    color: #276e80;
}

.cards-parallelogram,
.background-parallelogram,
.standard::before {
    position: relative;

}

.standard::before {
    content: "Standard";
    position: absolute;
    top: 40;
    padding-bottom: -60px;
    right: 20;
    width: 40%;
    height: 70%;
    z-index: -1;
    margin: -30px 10px;
    font-size: 25px;
    color: #0f89a1;
}

.cards-parallelogram,
.background-parallelogram,
.premium::before {
    position: relative;

}

.premium::before {
    content: "Premium";
    position: absolute;
    top: 40;
    padding-bottom: -60px;
    right: 20;
    width: 40%;
    height: 70%;
    z-index: -1;
    margin: -30px 10px;
    font-size: 25px;
    color: #e86723;
}

.timer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 70px 0;
}

.timer-container>div {
    background: var(--secondary-color);
    padding: 5px 40px;
    color: #fff;
    font-size: 28px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    transform: skew(45deg);
    border-radius: 3px;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    -webkit-box-shadow: 0px 0px 5px 1px #888888;
    box-shadow: 0px 0px 5px 1px #888888;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.timer-container>div:nth-child(1) {
    margin-right: -10px;
    background: #f3e4bf;
    color: var(--primary-color);
    border-bottom-left-radius: 9px;
}

.timer-container>div:nth-child(2) {
    font-size: 38px;
    border-radius: 15px;
    z-index: 8;
    padding: 7px 35px;
    -webkit-transform: skew(40deg);
    -ms-transform: skew(40deg);
    transform: skew(40deg);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.timer-container>div:nth-child(3) {
    margin-left: -10px;
    background: var(--primary-color);
    border-top-right-radius: 9px;


}

.timer-container div .content {
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    border: none;
    border-radius: 5px;
}

.timer-container div #half {
    color: #10515f;
    background-color: #f3e4bf;
}

.timer-container #two {
    color: #fff;
    background-color: #f29837;
}

.timer-container #hour {
    color: #fff;
    background-color: #10515f;
}

.timer-container>div:hover {
    filter: brightness(85%);
    cursor: pointer;
    -webkit-filter: brightness(85%);
}

.btn-select {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%) skew(-35deg);
    background-color: var(--secondary-color);
    padding: 2px 20px;
    color: #FFFFFF;
    font-family: "AraHamahZanki";
    font-size: 20px;
    border-radius: 8px;
    -webkit-transform: translateX(-50%) skew(-35deg);
    -moz-transform: translateX(-50%) skew(-35deg);
    -ms-transform: translateX(-50%) skew(-35deg);
    -o-transform: translateX(-50%) skew(-35deg);
}

.btn-select span {
    transform: skew(35deg);
    -webkit-transform: skew(35deg);
    -moz-transform: skew(35deg);
    -ms-transform: skew(35deg);
    -o-transform: skew(35deg);
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }

}

.limitSec .btn-signup {
    display: inline-block;
    background: var(--text-color);
    margin-left: 50px;
    font-weight: lighter;
    font-family: "AraHamahZanki";

}

.cards-parallelogram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 50px;

}

.hidden {
    opacity: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    /* Initial state */
    display: none;
}

.visible {
    -webkit-animation: fadeInScale 0.5s ease-in-out forwards;
            animation: fadeInScale 0.5s ease-in-out forwards;
    display: block;
}

@-webkit-keyframes fadeInScale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.cards-parallelogram .background-parallelogram {
    background: var(--primary-color);
    width: calc(100% / 4);
    border-radius: 35px;
    padding: 0 10px;

}


.cards-parallelogram .parallelogram {
    width: 100%;
    height: 350px;
    padding: 2rem;
    transform: skewY(-15deg);
    border-radius: 35px;
    background: #f4e9d0;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: colunm;
    flex-direction: colunm;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: auto;
    border-image-slice: 1;
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    -o-transform: skewY(-15deg);
}



.cards-parallelogram .parallelogram .content {
    transform: skewY(15deg);
    margin: 0 auto;
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    -o-transform: skewY(15deg);
}



.parallelogram .header-content p {
    margin-bottom: 8px;
    color: var(--text-color);
    font-size: 18px;
    color: var(--secondary-color);
    text-align: center;

}

.parallelogram .header-content .price {
    color: var(--primary-color);
    font-size: 48px;
    position: relative;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    padding-right: 30px;


}

.parallelogram .header-content .price .usd {
    font-size: 18px;
    position: absolute;
    left: -30px;
    bottom: 5px;

}



.parallelogram .header-content .price span:last-child {
    font-size: 14px;
    position: absolute;
    right: -30px;
    top: 10px;

}

.parallelogram .footer-content p {
    font-size: 16px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 8px;
}

.parallelogram .footer-content p.save {
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
    padding: 2px 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto 8px;
    background: #f27037;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.parallelogram .footer-content .yellow {
    color: var(--text-color);
}



.professional-experience {
    padding: 60px 0;
    background: url(../images/background-professional-experience.png);
    background-size: cover;
    background-position: center;
}

.professional-experience .title {
    font-size: 58px;
    color: var(--text-color);
    text-align: center;
    font-weight: lighter;
}

.professional-experience P.descrp {
    font-size: 34px;
    font-weight: lighter;
    color: #0b4a58;
    text-align: center;
    margin-bottom: 40px;

}

#owl_experience {
    position: relative;
}

#owl_experience .box-prof {
    /*background: #f4e9d0;
    */
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 0;
    overflow: hidden;
}

#owl_experience .box-prof img {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 9;
    cursor: pointer;
}

.owl-carousel .owl-nav {
    display: block !important;

}

.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-prev {
    left: -50px;
}

.owl-carousel .owl-nav button.owl-next {
    right: -50px;
}



footer {
    background: var(--primary-color);
    padding: 20px 0;
}

footer .title-footer {
    font-family: "AraHamahZanki";
    font-weight: lighter;
    font-size: 28px;
    color: #fff;
    border-bottom: 1px dashed #fff;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

footer .descrip {
    font-size: 17px;
    color: #fff;
    margin-bottom: 20px;
}

footer .social-media {
    position: unset;
}



.top-five {
    padding: 20px 0;
    background: url(../images/overlay-gray.png);
    background-size: cover;
    background-position: center;
    position: relative;
}


.top-five .title-topFive {
    font-size: 48px;
    text-align: center;
    color: var(--primary-color);
    font-weight: lighter;
}

.top-five .content {
    padding: 20px;
    grid-gap: 50px;

}

.top-five .img-rhombus {
    position: unset;
    border: none;
    -webkit-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.4);
}

.top-five .text-rate {
    max-width: 51%;
}

.star-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.star-rating span {
    font-size: 20px;
}

.star-rating i {
    color: #f29837;
}

.top-five h4.title {
    font-size: 22px;
    font-weight: lighter;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.top-five p.descrp {
    font-size: 17px;
    font-weight: lighter;
    color: var(--primary-color);
}

.our-testimonial {
    padding: 60px 0;
}

.our-testimonial .title {
    font-size: 52px;
    color: #f29837;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 40px;
}

.our-testimonial .grid-2col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
    margin: auto;

}

.our-testimonial .content {
    background: url(../images/message-left-blue.png);
    background-size: cover;
    width: 475px;
    padding: 17px 60px 0 55px;
    height: 190px;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .our-testimonial .content {
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .our-testimonial .grid-2col {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: 100%;
    }
}

.our-testimonial .grid-2col .item:nth-child(1) .content p {
    color: #fff;
    margin-left: 30px;
    margin-top: 10px;
}

.our-testimonial .grid-2col .item:nth-child(2) .content p {
    color: #fff;
    margin-left: 30px;
    margin-top: 10px;
}

.our-testimonial .grid-2col .item:nth-child(3) .content p,
.our-testimonial .grid-2col .item:nth-child(4) .content p {
    color: #fff;
    margin-left: 20px;
    margin-top: 10px;
}

.our-testimonial .item img {
    width: 115px;
}

.our-testimonial .right-yellow .content {
    background-image: url(../images/message-left-yellow.png);

}

.our-testimonial .left-yellow .content {
    padding: 20px 65px 0 40px;
    background-image: url(../images/message-right-yellow.png);

}

.our-testimonial .right-blue .content {
    padding: 20px 65px 0 40px;
    background-image: url(../images/message-right-blue.png);

}



/* New styles for iPad */






.form-container {
    background-image: url('../images/background-step1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 700px;
    margin: 50px auto;
    padding: 50px 50px 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form-container .prev-btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background: transparent;
    font-size: 20px;
    color: #b1adad;
    font-family: "JF-Flat-Regular";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 7px;
}

.form-container .prev-btn img {
    width: 10px;
}

.form-container .header {
    background: transparent;
    padding: 0;
}

.form-container .header h2 {
    text-align: center;
    color: #f7dac3;
    font-size: 28px;
    margin-bottom: 50px;
    font-family: "JF-Flat-Regular";
}

.form-step {
    display: none;
}

.active-step {
    display: block;
}

input[type=text],
input[type=email],
input[type=tel],
select {
    width: 100%;
    padding: 10px 20px;
    margin: 16px 0;
    border: 1px solid #82adb7;
    border-radius: 5px;
    background-color: #82adb7;
    color: var(--primary-color);
    font-family: "AraHamahZanki";
    font-size: 22px;
}

.form-container input::-webkit-input-placeholder {
    color: var(--primary-color);

}

#submitDateTime,
.form-container .next-btn,
.form-container .submit-btn {
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    background-color: #e68900;
    display: block;
}



.step-indicator {
    text-align: center;
    padding: 10px;
}

.step-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
}

.active-dot {
    background-color: #ff9800;
}

.phone-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    margin: 16px 0;
    overflow: hidden;

}

.country-code {
    border: none;
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 0;
    margin: 0;
    max-width: 100px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    width: max-content;
    padding-right: 30px;
    background: rgb(255 250 250 / 40%);
    background-position: 90% !important;

}

.phone-number {
    border: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 5px 10px;
    color: var(--primary-color);
    background-color: #007BFF;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    margin: 0 !important;
}

/* Removes the default browser styling for select elements */
.country-code::-ms-expand {
    display: none;
}

.phone-number::-webkit-input-placeholder {
    color: var(--primary-color);
}

.phone-number::-moz-placeholder {
    color: var(--primary-color);
}

.phone-number:-ms-input-placeholder {
    color: var(--primary-color);
}

.phone-number::-ms-input-placeholder {
    color: var(--primary-color);
}

.phone-number::placeholder {
    color: var(--primary-color);
}

/* Add focus styles */
.country-code:focus,
.phone-number:focus {
    outline: none;
}

.form-area {
    position: relative;
}

.form-area .icon-rele {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    -webkit-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
            transform: translatey(-50%);
}

.form-step input[type=text],
.form-step input[type=email],
.form-step input[type=tel],
select {
    height: 50px;
}

.form-step select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url(../images/arrow-select.png);
    background-position: 98%;
    background-size: 12px;
    background-repeat: no-repeat;
}

.custom-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.form-container .header h2 {}

.custom-select .img-rhombus {
    position: unset;
    border: 3px solid var(--secondary-color);
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.custom-select .img-rhombus .course {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: var(--primary-color);
    font-size: 18px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);

}

.custom-select .img-rhombus .course span {

    text-wrap: nowrap;

}

.custom-select .img-rhombus.selected {
    background-color: var(--primary-color);
}

.custom-select .img-rhombus.selected .course {
    color: var(--secondary-color);

}

.container-select-one {
    margin-bottom: 70px;
}

.container-select-tow {
    margin: 70px 0 70px;

}

.container-select-tow .img-rhombus .course {
    font-size: 45px;

}

.custom-calendar .header h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

.top-five .img-rhombus .inner-wrapper img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center 30%;
       object-position: center 30%;
}

/* Custom styling for the modal */
.remodal {
    background-image: url(../images/background-step1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 40px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    max-width: 700px;
}

.remodal h1 {
    color: #333;
    /* Title color */
    margin-top: 0;
}

.remodal p {
    color: #666;
    /* Text color */
    line-height: 1.6;
}

/* Styling the buttons */
.remodal button {
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.remodal button:hover {
    opacity: 0.8;
}

.remodal .remodal-cancel {
    background-color: #f44336;
    /* Cancel button color */
    color: white;
}

.remodal .remodal-confirm {
    background-color: #4caf50;
    /* Confirm button color */
    color: white;
}

/* Custom styling for the close button */
.remodal-close {
    color: #fff;
    font-size: 24px;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 0;

}


.remodal .form-container {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    padding: 0;
}



.why-buruj .btn-joinus {
    margin-top: 40px;
}

.our-courses .overlay {
    background: rgb(0 0 0 / 6%);

}

.sec5 .overlay {
    background: rgb(0 0 0 / 3%);

}

.exp .overlay {
    background: rgb(0 0 0 / 6%);

}

